/* Reset some default styles for the page */
body,
p {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* Styling for the body */
body {
  background: url("mars.gif") center / cover no-repeat black;
  height: 100vh; /* Ensure the background fills the entire viewport */
  overflow: hidden; /* Hide any overflow content */

  /* Center the h1 vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the h1 element */
h1 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: white; /* Set text color to white for better visibility */
}
